.ui-radiobutton-icon {
	margin-left: 0px !important;
	margin-top: -1px !important;
}

.ui-widget, .ui-widget .ui-widget {
	font-family: 'Roboto', sans-serif !important;
}

.font-normal {
	font-weight: normal !important;
}

.alinhada {
	margin: 0 auto;
	width: 50%; /* Valor da Largura */
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	color: #ffffff;
	text-decoration: none;
	background-color: #9F262D;
	background-position: 0px;
	background-image: -moz-linear-gradient(top, #dd4b39, #9F262D);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39),
		to(#9F262D));
	background-image: -webkit-linear-gradient(top, #dd4b39, #9F262D);
	background-image: -o-linear-gradient(top, #dd4b39, #9F262D);
	background-image: linear-gradient(to bottom, #dd4b39, #9F262D);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc',
		endColorstr='#ff0077b3', GradientType=0);
}

.ui-state-highlight .ui-icon {
	background-image:
		url(/portaljcr/javax.faces.resource/images/ui-icons_333333_256x240.png.xhtml?ln=primefaces-bootstrap);
}

.acessoRapidoBox {
	font-size: 11px;
	padding-top: 33px;
	font-weight: bold;
	text-align: center;
}

.font-normal {
	font-weight: normal;
}

.chamadoPrioridadeBaixa {
	background-color: #ffe6e6;
}

.chamadoPrioridadeMedia {
	background-color: #ffbcbc;
}

.chamadoPrioridadeAlta {
	background-color: #e03232;
	color: #fff;
}

.chamadoLink {
	font-size: 16px;
	font-weight: bold;
	color: #41a7ce;
}

.chamadoLink:hover {
	text-decoration: underline;
}

.ui-selectonemenu label.ui-selectonemenu-label {
	cursor: pointer !important;
	padding-left: 16px !important;
	padding-top: 8px !important;
}

.ui-selectonemenu-filter-container {
	width: 115% !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
	right: 100px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border-color: #ccc !important;
	/* border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); */
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border-color: #d2d6de !important;
}

.ui-fluid .ui-selectonemenu {
	min-width: 0px !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
	width: 87% !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
	display: none !important;
}

.alinharRadio {
	margin-top: -10px !important;
}

.ui-fluid .ui-autocomplete, .ui-fluid .ui-autocomplete-input {
	height: 34px !important;
}

.ui-inputfield {
	height: 34px !important;
}

.ui-fluid .ui-inputtext {
	height: 34px !important;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	padding-left: 12px;
}

.ui-selectmanycheckbox label {
	font-weight: normal !important;
}

.nav-tabs-custom-relatorio {
	background: none !important;
}

.cotacaoVencida {
	background-color: #ffe6e6;
}

.cotacaoMelhorOpcao {
	background-color: #00a65a;
	color: #fff !important;
	font-weight: bold;
	border: 1px solid #00a65a;
}

.cotacaoMelhorOpcao span {
	color: #fff !important;
}

.text-cotacao-vencida {
	color: #ffe6e6 !important
}

.valorTotalVerde {
	font-weight: bold !important;
	color: #00a400 !important;
}

.custom-btn {
	background-image: none !important;
	background-color: #fff !important;
	color: #fff !important;
}

.ui-button-text-icon-left .ui-button-text {
	margin-top: 2px !important;
}

.btn-vermelho {
	font-family: "Roboto", sans-serif !important;
	text-transform: uppercase !important;
	outline: 0 !important;
	background: #9F262D !important;
	padding: 5px !important;
	width: 100% !important;
	border: 0 !important;
	color: #FFFFFF !important;
	font-size: 14px !important;
	-webkit-transition: all 0.3 ease !important;
	transition: all 0.3 ease !important;
	cursor: pointer !important;
}

.btn-vermelho:hover, .btn-vermelho:active, .btn-vermelho:focus {
	background: #CC343D !important;
}

.btn-verde {
	font-family: "Roboto", sans-serif !important;
	text-transform: uppercase !important;
	outline: 0 !important;
	background: #00a65a !important;
	padding: 5px !important;
	width: 100% !important;
	border: 0 !important;
	color: #FFFFFF !important;
	font-size: 14px !important;
	-webkit-transition: all 0.3 ease !important;
	transition: all 0.3 ease !important;
	cursor: pointer !important;
}

.btn-verde:hover, .btn-verde:active, .btn-verde:focus {
	background: #00bf69 !important;
}

.btn-cinza {
	font-family: "Roboto", sans-serif !important;
	text-transform: uppercase !important;
	outline: 0 !important;
	background: #666666 !important;
	padding: 5px !important;
	width: 100% !important;
	border: 0 !important;
	color: #FFFFFF !important;
	font-size: 14px !important;
	-webkit-transition: all 0.3 ease !important;
	transition: all 0.3 ease !important;
	cursor: pointer !important;
}

.btn-cinza:hover, .btn-cinza:active, .btn-cinza:focus {
	background: #868686 !important;
}

.btn-azul {
	font-family: "Roboto", sans-serif !important;
	text-transform: uppercase !important;
	outline: 0 !important;
	background: #3c8dbc !important;
	padding: 5px !important;
	width: 100% !important;
	border: 0 !important;
	color: #FFFFFF !important;
	font-size: 14px !important;
	-webkit-transition: all 0.3 ease !important;
	transition: all 0.3 ease !important;
	cursor: pointer !important;
}

.btn-azul:hover, .btn-azul:active, .btn-azul:focus {
	background: #317299 !important;
}

.btn-vermelho-claro {
	font-family: "Roboto", sans-serif !important;
	text-transform: uppercase !important;
	outline: 0 !important;
	background: #dd4b39 !important;
	padding: 5px !important;
	width: 100% !important;
	border: 0 !important;
	color: #FFFFFF !important;
	font-size: 14px !important;
	-webkit-transition: all 0.3 ease !important;
	transition: all 0.3 ease !important;
	cursor: pointer !important;
}

.btn-vermelho-claro:hover, .btn-vermelho-claro:active,
	.btn-vermelho-claro:focus {
	background: #c63222 !important;
}

.ui-datatable tbody td {
	padding: 6px 6px 4px 6px !important;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.progress-meter {
  padding: 0;
}

ol.progress-meter {
  padding-bottom: 9.5px;
  list-style-type: none;
}
ol.progress-meter li {
  display: inline-block;
  text-align: center;
  text-indent: -19px;
  height: 36px;
  width: 24.99%;
  font-size: 12px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
ol.progress-meter li:before {
  position: relative;
  float: left;
  text-indent: 0;
  left: -webkit-calc(50% - 9.5px);
  left: -moz-calc(50% - 9.5px);
  left: -ms-calc(50% - 9.5px);
  left: -o-calc(50% - 9.5px);
  left: calc(50% - 9.5px);
}
ol.progress-meter li.done {
  font-size: 12px;
}
ol.progress-meter li.done:before {
  content: "\2713";
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -28.175px;
  border: none;
  border-radius: 19px;
}
ol.progress-meter li.todo {
  font-size: 12px;
}
ol.progress-meter li.todo:before {
  content: "\2B24";
  font-size: 17.1px;
  bottom: -26.95px;
  line-height: 18.05px;
}
ol.progress-meter li.done {
  color: black;
  border-bottom-color: yellowgreen;
}
ol.progress-meter li.done:before {
  color: white;
  background-color: yellowgreen;
}
ol.progress-meter li.todo {
  color: silver;
  border-bottom-color: silver;
}
ol.progress-meter li.todo:before {
  color: silver;
}

.steps {
	border-radius: 0px !important;
}

.abaValidada {
	background-image: linear-gradient(to bottom, #34c059, #18633a) !important;
	opacity: 1 !important;
	color: #FFF !important;
	border: 0px !important;
}

.abaValidada .ui-steps-number {
	color: #FFF !important;
}

.abaValidada .ui-steps-title {
	color: #FFF !important;
}

.text-vermelho {
	color: red;
}

.wrapperCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.ui-row-toggler {
	margin-left: auto !important;
	margin-right: auto !important;
}

.sem-header thead {
	display: none;
} 