.ui-radiobutton-icon {
    margin-left: 0px !important;
    margin-top: -1px !important;
}

.ui-widget,   
    .ui-widget .ui-widget {   
    font-family: 'Roboto',sans-serif !important; 
}

.font-normal {
	font-weight: normal !important;
}

.alinhada  {
	margin: 0 auto;
	width: 50%; /* Valor da Largura */
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: #ffffff;
    text-decoration: none;
    background-color: #9F262D;
    background-position: 0px;
    background-image: -moz-linear-gradient(top, #dd4b39, #9F262D);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#9F262D));
    background-image: -webkit-linear-gradient(top, #dd4b39, #9F262D);
    background-image: -o-linear-gradient(top, #dd4b39, #9F262D);
    background-image: linear-gradient(to bottom, #dd4b39, #9F262D);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.ui-state-highlight .ui-icon {
    background-image: url(/portaljcr/javax.faces.resource/images/ui-icons_333333_256x240.png.xhtml?ln=primefaces-bootstrap);
}

.acessoRapidoBox {
	font-size: 11px;
	padding-top:33px;
	font-weight: bold;
	text-align: center;
}

.font-normal {
	font-weight: normal;
}

.chamadoPrioridadeBaixa {
	background-color: #ffe6e6;
}

.chamadoPrioridadeMedia {
	background-color: #ffbcbc;
}

.chamadoPrioridadeAlta {
	background-color: #e03232;
	color: #fff;
}

.chamadoLink {
	font-size: 16px;
	font-weight: bold;
	color: #41a7ce;
}

.chamadoLink:hover {
	text-decoration: underline;
}

.ui-selectonemenu label.ui-selectonemenu-label {
    cursor: pointer !important;
    padding-left: 16px !important;
}

.ui-selectonemenu-filter-container {
    width: 115% !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
    right: 100px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: #ccc !important;
    /* border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); */
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border-color: #d2d6de !important;
}

.ui-fluid .ui-selectonemenu {
    min-width: 0px !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
    width: 87% !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
    display: none !important;
}